extends layout

block layout-content 
    div.main#about 
        div.main_container 
            div.main_img-container 
                div.main_img-card 
            div.main_content 
                h1 Who are we? 
                h2 We are a new kind of digital partner 
                p We're a team of thinkers and makers that have helped some of the Canada's most successful businesses with their digital products and services.
                p With specialists in design, technology, product delivery, business strategy and coaching, we wrap cross-disciplinary teams around your business to drive the outcomes you need to compete. 
                p.main-cta
                button.main_btn
                    a(href="/services") Our Services
        div.values#values
            h1 Our Values 
            div.values-wrapper
                div.values-card 
                    h2 Prizing our ethical approach
                    p We prize our integrity and honesty. We strive to do the right thing rather than the easy thing.
                div.values-card 
                    h2 Creating commercial success
                    p We're proud of what we're worth to our clients. We take personal responsibility for our commercial success,
                div.values-card 
                    h2 Passionate about people
                    p We're passionate about supporting each other in our continued growth to fulfil our ambitions.
                div.values-card
                    h2 Achieving success through shared endeavours
                    p We work collaboratively in diverse teams, shoulder to shoulder with our clients.
                    