extends layout 

block layout-content
    div.hero#home 
        div.hero_container
            h1.hero_heading Digital 
                span Transform 
            p.hero_description not your average advertising agency
            p.hero_text Digital isn't just about fast-changing technology opening new possibilities, and the door to new competitors, it's about the consideration of people, process and technology as one. It's essential to compete and keep performance high today while adapting to stay relevant tomorrow. Cracking the challenge means harnessing digital to bring ingenuity to life.
            button.main_btn
                a(href="/about") Explore