block variables 
doctype html 
html 
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title} | Advertising Agency
        link(rel="stylesheet", type="text/css", href="/css/styles.css")
    body 
        header#header
            nav.navbar 
                div.navbar_container 
                    a(href="/")#navbar_logo Neon Agency
                    ul.navbar_menu 
                        li.navbar_item
                            a(href="/").navbar_links Home 
                        li.navbar_item 
                            a(href="/about").navbar_links About Us 
                        li.navbar_item 
                            a(href="/services").navbar_links Services
                        li.navbar_btn
                            a(href="/signup").button#signup Sign Up 
        main#main 
            block layout-content 
        footer.footer-container 
            div.footer-link 
                div.footer-link-wrapper 
                    div.footer-link-items 
                        h2 About Us 
                        a(href="/") How it works
                        a(href="/") Testimonials
                        a(href="/") Careers
                        a(href="/") Terms of Service
                    div.footer-link-items 
                        h2 Contact Us 
                        a(href="/") Contact
                        a(href="/") Support
                        a(href="/") Destinations
                    div.footer-link-items 
                        h2 Video 
                        a(href="/") Submit Video
                        a(href="/") Ambassadors
                        a(href="/") Agency
                    div.footer-link-items 
                        h2 Social Media 
                        a(href="/") Instagram
                        a(href="/") Youtube
                        a(href="/") Twitter
                        a(href="/") Facebook
            section.otherfooter 
                div.otherfooter-wrap
                    div.footer-logo 
                        a.footer-logo(href="/") Neon Agency
                    p.website-rights &copy; Copyright Leo Nguyen,2022


                        



        


//- Photo by <a href="https://unsplash.com/@medbadrc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Med Badr  Chemmaoui</a> on <a href="https://unsplash.com/s/photos/design?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  


//-Photo by <a href="https://unsplash.com/@kaleidico?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kaleidico</a> on <a href="https://unsplash.com/s/photos/digital-strategy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>


//- Photo by <a href="https://unsplash.com/@osmanrana?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Osman Rana</a> on <a href="https://unsplash.com/s/photos/innovation?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
//-Photo by <a href="https://unsplash.com/@charlesdeluvio?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Charles Deluvio</a> on <a href="https://unsplash.com/s/photos/coaching?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

//-Photo by <a href="https://unsplash.com/@kpzhnv?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Damir Kopezhanov</a> on <a href="https://unsplash.com/s/photos/company?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
 
//- Website content resources: 
//- https://www.paconsulting.com/ 
//- https://www.codecomputerlove.com/