extends layout 

block layout-content 
    div.services#services
        h1 Our Services 
        div.services-description 
            p Modern businesses need a new type of agency relationship. 
            p A relationship that looks at driving business outcomes by working hard together on the right things - the things your customers actually want.
        div.services-wrapper
            div.services-card 
                h2 Design & Build
                p Build better digital experiences
                div.services-btn
                    button Learn More
            div.services-card 
                h2 Digital Strategy
                p Reimagine your digital vision
                div.services-btn
                    button Learn More
            div.services-card 
                h2 Innovation
                p Invent new revenue streams
                div.services-btn
                    button Learn More
            div.services-card 
                h2 Training & Coaching
                p Learn to work better, together
                div.services-btn
                    button Learn More
        div.back
            button.main_btn
                a(href="/") Back To Home